* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

.container {
    width: 960px;
    margin: 0 auto;
}

body {
    font-family: 'Open Sans';
    background-color: #F0EFEF;
    text-decoration: none;
}

h1 {
    font-size: 24px;
    font-weight: 600; 
    color: #FFF;
    margin: 120px 0 90px;
    text-align: center;
}

.h2-white {
    font-size: 60px;
    font-weight: 800;
    color: #FFF;
}

.h2-white-blog {
    font-size: 50px;
    font-weight: 800;
    color: #FFF;
    float: left;
}

.h2-yellow {
    font-size: 24px;
    font-weight: 800;
    color: #F9E42E;
    position: relative; 
}

h3 {
    font-size: 20px;
    font-weight: 600;
    color: #033048;
}

h4 {
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    color: #FFF;
}

h5 {
    font-size: 18px;
    font-weight: 800;
    color: #FFF;
}

h6 {
    font-size: 24px;
    font-weight: 600;
    color: #FFF;
}

p {
    font-size: 13px;
    font-weight: 300;
    color: #606161;
}

.list-benefits {
    font-size: 13px;
    font-weight: 300;
    color: #606161;
}

.yellow-button {
    font-size: 14px;
    font-weight: 800;
    color: #033048;
    background-color: #F9E42E;
    border: solid;
    border-radius: 5px;
    border-color: #F9E42E;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
}

.blue-button {
    font-size: 14px;
    font-weight: 800;
    color: #FFF;
    background-color: #033048;
    border: solid;
    border-radius: 5px;
    border-color: #033048;
    padding: 8px 40px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
}

.blue-button:hover {
    color: #F9E42E;
}

.icon {
    height: 30px;
    margin: 25px 26px 75px;
}

header {
    height: 700px;
    background: url(../images/header.jpg) no-repeat top center #131E27;
    background-size: cover;
    padding-top: 32px;
}

.quote {
    background: url(../images/testimonial.jpg) no-repeat top center #071324;
    text-align: center;
    background-size: cover;
    padding: 50px 0 50px;
    color: #FFF;
}

.benefits {
    background-color: #F0EFEF;
    margin: 40px
}

.yellow-box {
    background-color: #F9E42E;
    padding: 30px;
    text-align: center
}

footer {
    text-align: center;
    background-color: #121212;
    padding: 50px 0 40px;
}

footer h6 {
    font-size: 12px;
    font-weight: 300;
}

.navbar-header {
    font-weight: 600;
    background-color: #033048;
    padding: 25px 90px;
    overflow: hidden;
}

.navbar-header nav {
    font-size: 24px;
    font-weight: 600;
    color: #F9E42E;
    list-style: none;
    display: inline-block;    
    float:right
}

    /*Couldn't get the nav list to centre in the header so used padding-top to align it*/
.navbar-header nav ul li {
    display: inline-block;
    float: left;
    padding-top: 40px;
    margin: 0 0 0 40px;
    font-size: 24px;
    position: relative;
}

.posts {
  width: 700px;
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}

.sidebar {
    width: 240px;
    display: inline-block;
    float: right;
}

.readmore {
    color: #033048;
    text-align: right;
    margin-top: 30px;
}
.readmore a {
  color: #043049;
  font-weight: 600;
}

    /*Couldn't get the rest of the paragraph to sit around the 'L'
    Althought I think what i have looks better :D */
.post p:first-letter {
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
}

.post p {
    font-size: 24px;
    font-weight: 300px
}

.post h3 {
    font-size: 40px;
    font-weight: 600;
}

.readmore h6 {
    font-size: 24px;
    font-weight: 300;

}

.sidebar h3{
    font-size: 32px;
    font-weight: 800;
}

    /*Couldn't work out how to remove the list indentation so that the list aligns left.
    Also, for some reason 'How tos' was not sitting on its own line */
.sidebar ul li {
    color: #033048;
    font-size: 24px;
    display: inline-block;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.sidebar p {
    font-size: 22px;
    font-weight: 300;
    color: #033048;
}

.sidebar span {
    font-size: 22px;
    font-weight: 600;
}

.line-seperator {
    height: 1px;
    background-color: #033048;
}

.main {
    margin-bottom: 150px; 
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    opacity: 0.5;
}

a:visited {
    text-decoration: none;
    color: inherit;
}



